html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans",sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  text-align: left;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  position: relative;
  display: block;
}

.banner-content {
  position: absolute;
  bottom: 2em;
  width: 100%;
  max-width: 50em;
  margin: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.banner-content h2,
.banner-content p {
  margin: 0;
}

.banner-content h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

.banner-content p {
  font-size: 2rem;
  font-style: italic;
}
