html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  max-height: 500px;
  color: white;
  position: absolute;
  top: 7px;
  left: 40px;
  right: 105px;
  font-weight: bold;
}

.banner-content {
  max-width: 50em;
  font-size: 2rem;
  margin: 1rem;
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-style: italic;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
  position: relative;
}

.img-flex h2 {
  display: block;
  width: 100%;
  position: relative;
  top: 0em;
  left: 0.25em;
  right: 0.25em;
  max-height: 500px;
}
